/* https://blog.csdn.net/muzidigbig/article/details/80371464 */

/** ************************ 分割线 *********************** **/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** ************************ 设置默认字体 分割线 *********************** **/
body,
button, input, select, textarea /* for ie */ {
  font: 14px/1.5 tahoma, \5b8b\4f53, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* 将斜体扶正 */
address,
cite,
dfn,
em,
var {
  font-style: normal;
}

/** ************************ 列表 分割线 *********************** **/

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

/** ************************ img 分割线 *********************** **/

img {
  /* 针对 Firefox 没有src属性被当作 类span处理 */
  display: inline-block;
  border: 0;
  vertical-align: top;
}

/** ************************ 表单 分割线 *********************** **/

/* 使得表单元素在 ie 下能继承字体大小 */
button,
input,
select,
textarea {
  font-size: 100%;
}

input {
  border: none;
  appearance: none;
  -moz-appearance: none;
  /* input标签聚焦不出现默认边框 */
  outline: none;
  /* 用于IOS下移除原生样式 */
  -webkit-appearance: none;
}

button {
  border: 0;
  background-color: none;
  outline: none;
  /* 用于IOS下移除原生样式 */
  -webkit-appearance: none;
}

select {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url('http://ourjs.github.io/static/2015/arrow.png') no-repeat
    scroll right center transparent;
  padding-right: 14px;
}

fieldset {
  border-style: none;
}

/* 设置placeholder的默认样式 */
:-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #ddd;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #ddd;
  opacity: 1;
}

/** ************************ 表重置 HTML5 元素单 分割线 *********************** **/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
